{% extends 'base/base.html.twig' %}
{% block title %}
    <i class="glyphicon glyphicon-user"></i> {{ account.id ? 'Update' : 'Create' }} Account
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12">
                <h3>Account</h3>
                <div class="row">
                    <div class="col-md-6">
                        <label>
                            Agency
                        </label>
                        <input type="text" name="account_agency" value="{{ account.agency }}" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>
                            Number
                        </label>
                        <input type="text" name="account_number" value="{{ account.number }}" class="form-control">
                    </div>
                </div>
                {% if account.id %}
                    <hr/>
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                Balance
                            </label>
                            <input type="text" readonly class="form-control" value="$ {{ account.balance }}">
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                {% include 'customer/form.html.twig' with { customer : account.customer } %}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div class="text-right">
        <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-default" href="/accounts" title="Accounts" role="button">
                Account list
            </a>
            <a class="btn btn-warning" href="/accounts/{{ account.id }}/entries" title="Entries" role="button">
                Entries
            </a>
        </div>
        <button class="btn btn-primary" title="Save" role="button">
            Save
        </button>
    </div>
{% endblock %}